.Setting-Display__Wrapper .Polaris-Page {
  padding: 0;
}

.Setting-Display__Wrapper .Setting-Display__CheckBox {
  margin: 1.5rem 0;
}

.Timing-RangeSlider__boxDisplayTime {
  padding: 0.5rem;
  border: 1px solid #6d7175;
  border-radius: 2px;
  color: #6d7175;
}
